<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.106" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net48" />
  <package id="QuestPDF" version="2025.4.4" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WPF-UI" version="4.0.2" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.0.2" targetFramework="net48" />
</packages>